.filter-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    .searchbox {
        width: 250px;
    }
    .pointer {
        color: blue;
        text-decoration: underline;
    }
}
.advanced-options {
    display: flex;
    align-items: center;
    .filter-item {
        width: 150px;
        margin-right: 10px;
    }
}