$primary-color: #FE980F;
$secondary-color: #FE980F;
$ternary-color: #FE980F;
$primary-color-light: #fe980f54;
$white: #fff;
$black: #000;
$grey: #808080;
$lightgrey: #D3D3D3;
$silver: #C0C0C0;
$darkgrey: #A9A9A9;
$background: white;
$grey-varient1: #696763;
$secondary-background: #F0F0E9;